Report an Issue.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","required":["text","text_1"],"properties":{"text":{"type":"string","x-ms-dynamically-added":true,"description":"Please describe your issue","title":"Issue","x-ms-content-hint":"TEXT"},"text_1":{"type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","title":"How Urgent is Your Issue","enum":["1 - High","2 - Medium","3 - Low"],"x-ms-content-hint":"TEXT"}}}}}},"actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://dev50261.service-now.com/api/now/import/x_120070_flow_inte_flow_integration_to_i","body":{"u_caller_id":"@{base64ToString(triggerOutputs()['headers']['x-ms-user-email-encoded'])}","u_short_description":"Issue reported from Microsoft Flow","u_description":"@{triggerBody()['text']}","u_contact_type":"Web","u_urgency":"@{triggerBody()['text_1']}"},"authentication":{"type":"Basic","username":"RestFlowAccount","password":"testpassword2019"}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"import_set":{"type":"string"},"staging_table":{"type":"string"},"result":{"type":"array","items":{"type":"object","properties":{"transform_map":{"type":"string"},"table":{"type":"string"},"display_name":{"type":"string"},"display_value":{"type":"string"},"record_link":{"type":"string"},"status":{"type":"string"},"sys_id":{"type":"string"}},"required":["transform_map","table","display_name","display_value","record_link","status","sys_id"]}}}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['result']","actions":{"Send_me_a_mobile_notification":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendNotification"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['flowpush']['connectionId']"}},"method":"post","body":{"notificationText":"Your Incident number: @{items('Apply_to_each')?['display_value']} has been submited","notificationLink":{"uri":"@items('Apply_to_each')?['record_link']","label":"Click here to view record"}},"path":"/sendNotification","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"}},"outputs":{},"description":"Create an incident directly to ServiceNow"},"parameters":{},"runtimeConfiguration":{"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}}}}}]}